.error{
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap ;
    align-items: center;
    & h1{
        color: #FF6060;
        font-size: 240px;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    & h3{
        color: #FF6060;
        font-size: xx-large;
        margin-top: 0%;
    }
    & h5{
        font-size: larger;
        margin: 5.01%;
    }
    & a{
        width: 100%;
        display: flex;
        justify-content: center;
        text-decoration: none;
        color: black;
    }   
}