.card{
    width: 400px;
    max-width: 90%;
    height: 400px;
    background-color: #ff6060;
    margin: 2%;
    padding: 1%;
    border-radius: 4%;
    color: white;
    font-weight: 700;
    display: flex;
    justify-content:flex-end;
    flex-direction : column;
}
.card a{
    color: white;
    text-decoration: none;
}