.dropdown{
    width: 70%;
    margin: 1%;
    display: flex;
    flex-flow: column wrap;
    .dropdownTitle{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        width: 100%;
        background-color: #FF6060;
        border-radius: 10px;
        padding: 0%1%;
        
        & h3{
            font-size: x-large;
            margin: 1%;
        }
        & img{
            width: 30px;
            height: 30px;
        }
        .rotate{
            rotate: 180deg;
        }
    }
    .dropdownContent{
        background-color: #F6F6F673;
        margin-top: 0%;
        padding: 2%;
        border-radius: 0px 0px 10px 10px ;
        width: 98%;
        transition: transform 0.3s ease-in-out;
  }
}
