.Carousel{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
    max-height: 600px;
    overflow: hidden;
    img{
        width: 90%;
        max-height: 600px;
        object-fit:cover;
        border-radius: 25px;
    }
    .selection{
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 86%;
        color: white;
    }
}

@media screen and (max-width: 768px) {
    .Carousel{
        .fa-solid{
            font-size: 2em;
        }
    }
}