.footer{
    width: 100%;
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
    background-color: black;
    left: 0;
    bottom: 0;
    max-height: 15%;
}
img{
    object-fit:scale-down;
    margin: 0%;
    padding: 0%;
}