.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: x-large;
    width: 100%;
    padding: 2% 0%;
}
.navBtn{
    width: 25%;
    display: flex;
    justify-content: space-around;
    flex-flow: row nowrap;
}