.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: x-large;
    width: auto;
    padding: 2%;
}
.navBtn{
    width: 25%;
    display: flex;
    justify-content: space-around;
    flex-flow: row nowrap;
}
.acceuil{
    text-decoration: underline;
}
a:active{
    color: black;
    text-decoration: none;
}